---
layout: page
title: Tags
---

<h1>Tags</h1>
<div>
    <div>
        {% for tag in site.tags %}
        <a href="#{{ tag[0] | slugify }}" class="tag">{{ tag[0] }} ({{ tag[1].size }})</a>
        {% endfor %}
    </div>
    <hr/>
    <div>
        {% for tag in site.tags %}
        <h3 id="{{ tag[0] | slugify }}"><i class="fas fa-tag"></i>&nbsp;{{ tag[0] }}</h3>
        <ul>
            {% for post in tag[1] %}
            <li>
                <a href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                    <small>{{ post.date | date_to_string }}</small>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
