.tag {
  display: inline-block;
  padding: 0 0.5rem;
  background-color: lightgray;
  color: #333;
  white-space: nowrap;
  border-radius: 50rem;
}

.category {
  display: inline-block;
  padding: 0 0.5rem;
  background-color: lightblue;
  color: #123;
  white-space: nowrap;
  border-radius: var(--pico-border-radius);
}
