.tag {
  display: inline-block;
  padding: 0 0.5rem;
  background-color: var(--pico-muted-border-color);
  color: var(--pico-color);
  white-space: nowrap;
  border-radius: 50rem;
}

.category {
  display: inline-block;
  padding: 0 0.5rem;
  background-color: color-mix(in srgb, var(--pico-primary) 20%, transparent);
  color: var(--pico-color);
  white-space: nowrap;
  border-radius: var(--pico-border-radius);
}
