#banner{
  position: relative;
  background: url('/img/keyboard-black-notebook-input-163130.jpeg');
  min-height: 250px;

  .primary-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}