<article>
    <h3><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h3>
    {% if post.category %}Category : <a href="{{ site.baseurl }}/categories/#{{ post.category | slugify }}" class="category">{{ post.category }}</a>{% endif %}
    <br/><small>Tags : {% for tag in post.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}" class="tag">{{ tag }}</a>{% endfor %}</small>
    <p>
        {{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 40 }}
        <br/><a href="{{ post.url | prepend: site.baseurl }}">&rarr;&nbsp;Read</a>
    </p>
    <footer><small>{{ post.date | date: "%-d/%m/%Y" }}</small></footer>
</article>
