<div class="social-links">
    <a target="_blank" href="https://github.com/{{ site.github_username }}"><i class="fab fa-github fa-2x"></i></a>
    &nbsp;
    <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter fa-2x"></i></a>
    &nbsp;
    <a target="_blank" rel="me" href="{{ site.mastodon_profile }}"><i class="fab fa-mastodon fa-2x"></i></a>
    &nbsp;
    <a target="_blank" disabled href="#">No&nbsp;<i class="gray fab fa-facebook fa-2x fa-disabled"></i></a>
    &nbsp;
    <a target="_blank" disabled href="#">No&nbsp;<i class="gray fab fa-linkedin fa-2x fa-disabled"></i></a>
</div>