<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
{% include head.html %}
<body>
{% include navbar.html %}
<main class="container">
  <img src="{{ page.image | prepend: site.baseurl }}" class="post-hero" alt="{{ page.title }}"/>
  <div class="post-layout">
    <div>
      {% if page.title %}<div id="pagetitle"><h1>{{ page.title }}</h1></div>{% endif %}
      <div id="content">{{ content | replace: '<img ', '<img loading="lazy" ' }}</div>
    </div>
    <aside>
      <article class="info-card">
        <header>Informations</header>
        <ul>
          <li>Date : {{ page.date | date: "%-d/%m/%Y" }}</li>
          <li>Category :
            {% if page.category %}
            <a href="{{ site.baseurl }}/categories/#{{ page.category | slugify }}" class="category">{{ page.category }}</a>
            {% endif %}
          </li>
          <li>Tags :
            {% for tag in page.tags %}
            <a href="{{ site.baseurl}}/tags/#{{ tag | slugify }}" class="tag">{{ tag }}</a>
            {% endfor %}
          </li>
        </ul>
      </article>
    </aside>
  </div>
</main>
{% include footer.html %}
</body>
</html>
